<html>
  <head>
    <title>SQRL::Test</title>
    <style type="text/css">
    table {
      border-width: 0;
      border-style: none;
      border-color: #0000ff;
      border-collapse: collapse;
    }
    td {
      border-width: 0; 
      border-style: none;
      border-color: #0000ff; 
      border-collapse: collapse; 
      padding: 0; 
      margin: 0; 
      width: 5px; 
      height: 5px; 
    }
    td.black { background-color: #000; }
    td.white { background-color: #fff; }
    </style>
  </head>
  <body>
    <div>
      <a href="<%= auth_url %>">
      <h2>Login with SQRL</h2>
      <table>
      <% qr.modules.each_index do |x| %>
        <tr>  
        <% qr.modules.each_index do |y| %>
         <% if qr.dark?(x,y) %>
          <td class="black"/>
         <% else %>
          <td class="white"/>
         <% end %>
        <% end %>
        </tr>
      <% end %>
      </table>
      </a>
    </div>
    <div>
      <h3>Compatibility</h3>
      <% if tif_base == '10' %>
        <p>TIF base = 10 for the <a href="https://play.google.com/store/apps/details?id=net.vrallev.android.sqrl">android client</a>.</p>
        <p>Use <a href="/">TIF base 16</a></p>
      <% else %>
        <p>For the <a href="https://play.google.com/store/apps/details?id=net.vrallev.android.sqrl">android client</a>, you may need to use <a href="/?tif_base=10">TIF base 10</a></p>
      <% end %>
    </div>
    <div>
      <h2>About SQRL</h2>
      <p>SQRL (pronounced squirrel) is a proposed authentication (login) method makes logging in as easy as scannign a QR code, while avoiding most of the pitfalls passwords.</p>
      <ul>
        <li><a href="http://sqrl.pl/">sqrl.pl</a> has some illustrated guides</li>
        <li><a href="https://www.grc.com/sqrl/sqrl.htm">GRC</a> has the provisonal technical details</li>
      </ul>
      <h2>About this test server</h2>
      <p>Session state (including "user accounts") is stored in memory and will frequently reset.</p>

      <h3>Supported Commands</h3>
      <ul>
        <li>ident</li>
        <li>query</li>
      </ul>
    </div>
  </body>
</html>
