<html>
  <head>
    <title>SQRL::Test Request Report</title>
  </head>
  <body>
    <ul>
    <% props.each do |name, value| %>
      <li><span class="property"><%= name %></span>:
        <span class="value"><%= value %></span></li>
    <% end %>
    </ul>
  </body>
</html>
